# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.claude/
.idea/
.env
.npmrc
.eslintcache
dist/
